*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  margin: 0;
}

a {
  color: #533f03;
  font-weight: bold;
}

p {
  margin: 0;
}
