.stable {
  width: 1500px;
  margin: auto;
  background-color: white;

  #stable-heading {
    padding: 40px 21px;
  }
}

.stableDetail {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: white;
  border: solid 1px rgba(13, 54, 139, 0.1);
  margin: 80px auto;
  padding: 40px 0 40px 50px;

  .buttonContainer {
    margin-top: 40px;
  }
}

.stableUpdate {
  width: 1500px;
  margin: auto;
  background-color: white;

  #stable-heading {
    padding: 40px 21px;
  }

  .title {
    margin: 40px 0;
  }

  .buttonContainer {
    margin: 40px 0;
  }
}

@media screen and (max-width: 1510px) {
  .stableUpdate {
    width: 1220px;
  }
}
