.riderHome {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f8fa;

  .boxContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1450px) {
  .riderHome .boxContainer {
    justify-content: center;
  }
}
