.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 500px;
}
