/*==========================================
=                 COLORS                 =
==========================================*/

/*  Brand colors  */

$blue-very-light: #e9effb;
$blue-light: #2196f3;
$blue: #0c47e2;
$blue-dark: #0D368BFF;
$black: #000;
$white: #ffffff;
$grey-very-light: #f7f8fa;
$grey-light: #e8edf2;
$grey: #777f8d;
$pink: #9c27b0;
$pink-dark: #7d1f8d;
$yellow: #ff9800;
$yellow-dark: #995f08;
$green-light: #42CB49FF;
$green: #04a70c;
$red-light: #C1396FFF;
$red: #e51c23;
$red-dark: #b7161c;


/*==========================================
=              Typography                  =
==========================================*/

/*  Font families  */

$be-vietnam-pro: "Be Vietnam Pro", sans-serif;


/*  Font sizes  */

$fs-xxs: 0.8125rem;
$fs-xs: 0.9125rem;
$fs-sm: 0.1075rem;
$fs-base: 1.125rem;
$fs-large: 1.5rem;
$fs-xl: 1.8rem;
$fs-xxl: 2rem;


/* Heading font sizes  */

$h-1: 1.375rem;
$h-2: 1.2rem;
$h-3: 1rem;
$h-4: 0.75rem;


/* Spacing  */

$spacing-100: 0.25rem;
$spacing-200: 0.5rem;
$spacing-300: 0.75rem;
$spacing-400: 1rem;
$spacing-500: 1.5rem;
$spacing-600: 2rem;
$spacing-700: 3rem;
$spacing-800: 4rem;
$spacing-900: 5rem;


/* Font weights  */

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;
